layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane size="10%"
        pane size="90%"
      }
      pane split_direction="horizontal" {
        pane
        pane
      }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
